<h2> <%= @patient.name %> </h2>
<P>
  Appointments:<br> <br>
  <%= @patient.appointments.each do |appointment| %>
  Patient NAME: <%= link_to appointment.patient.name, patient_path %> <br> <br>
  <%= link_to appointment.doctors.name, doctor_path %>
  <%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %> <br> <br>
  <% end %>
